{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <!-- REGISTRATION -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">J'ai oublié mon mot de passe !</h3>
                                {% for label, messages in app.flashes %}
                                    <div class="container">
                                        <div class="alert alert-{{ label }} mb-0">
                                            {% for message in messages %}
                                                {{ message | raw }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                {{ form_start(form) }}
                                {{ form_label(form, 'Email :') }}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3"><i class="fa fa-envelope fa"
                                                                                            aria-hidden="true"></i></span>
                                    </div>
                                    {{ form_row(form.email, {'attr': {'placeholder': 'Email...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'email', 'id': 'inputEmail'}) }}
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Vérifier mon email
                                </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}