{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            {#<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">#}
            <source src="{{ asset('video/snowboarding.mp4') }}" type="video/mp4">
        </video>
        <div class="container h-100 hero-container" data-aos="fade-up">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1>Partagez vos tricks avec les autres !</h1>
                    <a href="#tricks" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= Tricks Section ======= -->
        <section id="tricks" class="tricks">
            <div class="container">
                <div class="row tricks-container" data-aos="fade-up">
                    {% for trick in tricks %}
                        {% dump(trick) %}
                        <div class="col-lg-4 col-md-6 tricks-item">
                            <div class="tricks-wrap shadow">
                                <img src="{{ asset('img/tricks/' ~ trick.image) }}" class="img-fluid" alt="{{ trick.title }}">
                                <div class="tricks-links">
                                    <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details">{{ trick.title | slice(0, 24) }}...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Tricks Section -->
    </main><!-- End #main -->
    <a href="#tricks" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% endblock %}