{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            {#<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">#}
            <source src="{{ asset('video/snowboarding.mp4') }}" type="video/mp4">
        </video>
        <div class="container h-100 hero-container" data-aos="fade-up">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1>Partagez vos tricks avec les autres !</h1>
                    <a href="#tricks" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= Tricks Section ======= -->
        <section id="tricks" class="tricks">
            <div class="container">
                <div class="row tricks-container" data-aos="fade-up">
                    {% for trick in tricks %}
                        <div class="col-lg-4 col-md-6 tricks-item">
                            <div class="tricks-wrap shadow">
                                <img src="{{ asset('/img/tricks/' ~ trick.image) }}" class="img-fluid" alt="{{ trick.title }}">
                                <div class="tricks-links">
                                    {% if not app.user %}
                                        <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-10">{{ trick.title | slice(0, 24) }}...</a>
                                        <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-2"><i class="fa fa-comments">{{ trick.comments | length }}</i></a>
                                    {% else %}
                                        {% if app.user == trick.user %}
                                            <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-6">{{ trick.title | slice(0, 14) }}...</a>
                                            <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-2"><i class="fa fa-comments">{{ trick.comments | length }}</i></a>
                                            <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="trick-link col-2"><i class="fa fa-edit"></i></a>
                                            <a onclick="confirmTrickDelete('{{ trick.id }}')" class="trick-link col-2 trash"><i class="fa fa-trash"></i></a>
                                        {% else %}
                                            <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-8">{{ trick.title | slice(0, 16) }}...</a>
                                            <a href="{{ path('trick_detail', {'id': trick.id}) }}" title="More Details" class="trick-link col-2"><i class="fa fa-comments">{{ trick.comments | length }}</i></a>
                                            <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="trick-link col-2"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Tricks Section -->
    </main><!-- End #main -->
    <a href="#tricks" class="back-to-top"><i class="icofont-simple-up"></i></a>
    {% if app.user %}
    {% for trick in tricks %}
        <div class="portfolio-modal modal fade" id="delete_trick_modal{{ trick.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <p>Souhaitez-vous vraiment supprimer le trick ayant le titre : {{ trick.title }} ?</p>
                                    <form action="{{ path('delete_trick', {'id': trick.id}) }}" method="post">
                                        <input type="hidden" id="inputId" name="deleteTrick[id]" value="{{ trick.id }}">
                                        <div class="buttons">
                                            <button type="submit" class="btn btn-outline-danger" value="delete" onclick="">Supprimer</button>
                                            <button class="btn btn-outline-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i>Annuler</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}