{% dump(count) %}
{% for library in itemsLibrary %}
    <div class="col-lg-4 col-md-6 tricks-item">
        <div class="tricks-wrap shadow">
            {% if library.type == 1 %}
                <img src="{{ asset('/img/tricks/' ~ library.lien) }}" class="img-fluid" alt="snowtricks">
            {% elseif library.type == 3 %}
                <img src="{{ library.lien }}" class="img-fluid" alt="snowtricks">
            {% else %}
                {{ library.lien | raw }}
            {% endif %}
            <div class="tricks-links">
                {% if app.user %}
                    {% if app.user == trick.user %}
                        <a onclick="confirmMediaDelete('{{ library.id }}')"
                           class="trick-link col-2 trash"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a onclick="editMedia('{{ library.id }}')" class="trick-link col-2 edit"><i
                                class="fas fa-pencil-alt"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if app.user %}
    <div class="col-lg-4 col-md-6 tricks-item more">
        <div class="tricks-wrap shadow">
            <a onclick="addMedia('{{ trick.id }}')" class="trick-link col-2 trash"><i class="fa fa-plus tricks-details"></i></a>
        </div>
    </div>
{% endif %}