{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <!-- REGISTRATION -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                {% if editMode %}
                                    <h3 class="login-heading mb-4">Modifier un trick</h3>
                                {% else %}
                                    <h3 class="login-heading mb-4">Ajouter un trick</h3>
                                {% endif %}
                                {{ form_start(formTrick) }}
                                <div class="form-group">
                                    {{ form_row(formTrick.title, {'label': 'Titre', 'attr': {'placeholder': 'Titre...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputTitle'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.description, {'label': 'Description', 'attr': {'placeholder': 'Description du trick...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'textarea', 'id': 'inputDescription'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.position, {'label': 'Position', 'attr': {'placeholder': 'Position...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputPosition'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.grabs, {'label': 'Grab', 'attr': {'placeholder': 'Grab...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputGrabs'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.rotation, {'label': 'Rotation', 'attr': {'placeholder': 'Rotation...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputRotation'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.flip, {'label': 'Flip', 'attr': {'placeholder': 'Flip...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputFlip'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formTrick.slide, {'label': 'Slide', 'attr': {'placeholder': 'Slide...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'text', 'id': 'inputSlide'}) }}
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="MAX_FILES_SIZE" value="200000">
                                    {{ form_row(formTrick.image, {'label': 'Image', 'attr': {'placeholder': 'Image...', 'aria-describedby': 'imageDownload', 'class': 'form-control'}, 'type': 'file', 'id': 'inputImage'}) }}
                                    <small id="imageDownload" class="form-text text-muted">L'image doit être au format
                                        800x600 et au format jpeg.</small>
                                </div>

                                <button type="submit" class="btn btn-primary" style="margin-top: 1rem">
                                    {% if editMode %}
                                        Enregistrer les modifications
                                    {% else %}
                                        Ajouter l'article
                                    {% endif %}
                                </button>
                                {{ form_end(formTrick) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}