{% for trick in tricks %}
    <div class="col-lg-4 col-md-6 tricks-item">
        <div class="tricks-wrap shadow">
            {% if(trick.tl_lien) %}
                <img src="{{ asset('/img/tricks/' ~ trick.tl_lien) }}" class="img-fluid"
                     alt="{{ trick.t_title }}">
            {% else %}
                <img src="{{ asset('/img/default/snowtricks.jpg') }}" class="img-fluid"
                     alt="snowtrick">
            {% endif %}
            <div class="tricks-links">
                {% if not app.user %}
                    <a href="{{ path('trick_detail', {'slug': trick.t_slug}) }}" title="More Details"
                       class="trick-link col-12">{{ trick.t_title | slice(0, 24) }}...</a>
                {% else %}
                    <a href="{{ path('trick_detail', {'slug': trick.t_slug}) }}" title="More Details"
                       class="trick-link col-8">{{ trick.t_title | slice(0, 14) }}...</a>
                    <a href="{{ path('edit_trick', {'slug': trick.t_slug}) }}" class="trick-link col-2"><i
                                class="fas fa-pencil-alt"></i></a>
                    <a onclick="confirmTrickDelete('{{ trick.t_id }}')" class="trick-link col-2 trash"><i
                                class="fa fa-trash"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}