{% extends 'base.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path('admin') }}">Admin</a></li>
                    </ol>
                </div>
            </div>
        </section><!-- Breadcrumbs Section -->

        <!-- ======= Trick Details Section ======= -->
        <section class="panel-details">
            <div class="container">
                <div class="row">
                    <div class="tricks-description">
                        <h6>Dernière version : 20201115103435</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 " id="panel_admin">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">Utilisateurs</a>
                                <a class="nav-item nav-link" id="nav-tricks-tab" data-toggle="tab" href="#nav-tricks" role="tab" aria-controls="nav-tricks" aria-selected="false">Tricks</a>
                                <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">Commentaires</a>
                                <a class="nav-item nav-link" id="nav-pictures-tab" data-toggle="tab" href="#nav-pictures" role="tab" aria-controls="nav-pictures" aria-selected="false">Bibliothèque</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active table-responsive" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">username</th>
                                        <th scope="col">email</th>
                                        <th scope="col">image</th>
                                        <th scope="col">actif</th>
                                        <th scope="col">role</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        {% for role in user.roles %}
                                        <tr class="{% if role == 'ROLE_ADMIN' %}role_admin{% endif %}}">
                                            <th scope="row" class="id_user">{{ user.id }}</th>
                                            <td class="username_user">{{ user.username }}</td>
                                            <td class="email_user">{{ user.email }}</td>
                                            <td class="img_user">
                                                <img src="{{ asset('/img/profils/' ~ user.image ~ '-thumbail.jpg') }}"></td>
                                            <td class="activ_user">
                                                {% if user.isActive == 1 %}
                                                    <i class="fa fa-check-square" style="color: green"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ form_start(userForm) }}
                                                    {% for test in role %}
                                                        <div class="form-group">
                                                            {{ form_row(userForm.test, {'attr': {'placeholder': 'roles...', 'aria-describedby': 'basic-addon3', 'class': 'form-control'}, 'type': 'select', 'id': 'inputRoles'}) }}
                                                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem"><i class="fa fa-save"></i></button>
                                                        </div>
                                                    {% endfor %}
                                                {{ form_end(userForm) }}
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="js-delete"><i class="fa fa-trash danger"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-tricks" role="tabpanel" aria-labelledby="nav-tricks-tab">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">auteur</th>
                                        <th scope="col">titre</th>
                                        <th scope="col">image</th>
                                        <th scope="col">description</th>
                                        <th scope="col">position</th>
                                        <th scope="col">grabs</th>
                                        <th scope="col">rotation</th>
                                        <th scope="col">flip</th>
                                        <th scope="col">slide</th>
                                        <th scope="col">créé le</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trick in tricks %}
                                        <tr>
                                            <th scope="row">
                                                <a href="{{ path('edit_trick', {'id': trick.id}) }}"
                                                   class="trick-link col-2">{{ trick.id }}</a>
                                            </th>
                                            <td>{{ trick.user }}</td>
                                            <td>{{ trick.title | slice(0, 10) }}...</td>
                                            <td>{{ trick.image }}</td>
                                            <td>{{ trick.description | slice(0, 10) | raw }}...</td>
                                            <td>{{ trick.position }}</td>
                                            <td>{{ trick.grabs }}</td>
                                            <td>{{ trick.rotation }}</td>
                                            <td>{{ trick.flip }}</td>
                                            <td>{{ trick.slide }}</td>
                                            <td>{{ trick.createdAt | date('d/m/Y') }}</td>
                                            <td><a href="{{ path('admin_delete_trick', {'id': trick.id}) }}" class="js-delete"><i class="fa fa-trash danger"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                                <table class="table table-striped" id="table_users">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">auteur</th>
                                        <th scope="col">titre trick</th>
                                        <th scope="col">titre</th>
                                        <th scope="col">contenu</th>
                                        <th scope="col">créé le</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comment in comments %}
                                        <tr>
                                            <th scope="row">{{ comment.id }}</th>
                                            <td>{{ comment.user }}</td>
                                            <td>{{ comment.trick.title }}</td>
                                            <td>{{ comment.title }}</td>
                                            <td>{{ comment.content | raw }}</td>
                                            <td>{{ comment.createdAt | date('d/m/Y') }}</td>
                                            <td><a href="{{ path('admin_delete_comment', {'id': comment.id}) }}" class="js-delete"><i class="fa fa-trash danger"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-pictures" role="tabpanel" aria-labelledby="nav-pictures-tab">
                                Future bibliothèque d'images
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Trick Details Section -->
    </main><!-- End #main -->
{% endblock %}